<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wittenPortfolio" >

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WguMobileApplication"
        tools:targetApi="31" >
        <activity
            android:name="activities.SendSMS"
            android:exported="false"
            android:parentActivityName="activities.CourseList"/>
        <activity
            android:name="activities.MentorAdd"
            android:exported="false"
            android:parentActivityName="activities.MentorList" />
        <activity
            android:name="activities.MentorDetail"
            android:exported="false"
            android:parentActivityName="activities.MentorList" />
        <activity
            android:name="activities.MentorList"
            android:exported="false"
            android:parentActivityName="activities.MainActivity" />
        <activity
            android:name="activities.NoteDetail"
            android:exported="false"
            android:parentActivityName="activities.CourseList"/>
        <activity
            android:name="activities.NoteAdd"
            android:exported="false"
            android:parentActivityName="activities.CourseList"/>
        <activity
            android:name="activities.CourseAdd"
            android:exported="false"
            android:parentActivityName="activities.CourseList" />
        <activity
            android:name="activities.CourseList"
            android:exported="false"
            android:parentActivityName="activities.MainActivity" />
        <activity
            android:name="activities.CourseDetail"
            android:exported="false"
            android:parentActivityName="activities.CourseList" />
        <activity
            android:name="activities.TermDetails"
            android:exported="false"
            android:parentActivityName="activities.TermsList" />
        <activity
            android:name="activities.AddTermActivity"
            android:exported="false"
            android:parentActivityName="activities.TermsList" />
        <activity
            android:name="activities.TermsList"
            android:exported="false"
            android:parentActivityName="activities.MainActivity" />
        <activity
            android:name="activities.AssessmentDetail"
            android:exported="false"
            android:parentActivityName="activities.AssessmentList" />
        <activity
            android:name="activities.AddAssessmentActivity"
            android:exported="false"
            android:parentActivityName="activities.AssessmentList" />
        <activity
            android:name="activities.AssessmentList"
            android:exported="false"
            android:parentActivityName="activities.MainActivity" />
        <activity
            android:name="activities.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="utilities.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
             />
    </application>

</manifest>